.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#app-input-fields{
  background-color: coral;
}

input{
  margin: 0.5cm
}

.list-tuple{
  margin:0.5cm;
  background-color: cornsilk;
  border: solid 1mm black;

}